growerassistant.json
[
    {
        "id": "e6c3f6274bea11d7",
        "type": "tab",
        "label": "Logic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d131706f99a3b080",
        "type": "tab",
        "label": "Database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "473af4e9135bb6f3",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9cfee97fb9e96644",
        "type": "tab",
        "label": "Irrigation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c1ad51cd7c1f6f30",
        "type": "tab",
        "label": "Climate",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6e05f7e6b67e985d",
        "type": "tab",
        "label": "Artificial light",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "374517790ad73be7",
        "type": "tab",
        "label": "Heating",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3093b5dc65ba7357",
        "type": "tab",
        "label": "Settings",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "30310abcb724f80d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#00ff40",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#001eff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6691e9ed50dfc4a2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f83273088eb193ee",
        "type": "ui_group",
        "name": "Schedule summary",
        "tab": "6691e9ed50dfc4a2",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "273b4a3829d447ed",
        "type": "sqlitedb",
        "db": "/home/pi/opengreenhouse/main.db",
        "mode": "RWC"
    },
    {
        "id": "5e17e0da459b8444",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "6691e9ed50dfc4a2",
        "order": 2,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "76b62dcf392e0c7d",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "6691e9ed50dfc4a2",
        "order": 3,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9196ab76e307349",
        "type": "ui_tab",
        "name": "Irrigation",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fa9ccf2e0cfb5c02",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "c9196ab76e307349",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": true,
        "className": ""
    },
    {
        "id": "6d1fd696c4bf8db1",
        "type": "sqlite",
        "z": "d131706f99a3b080",
        "mydb": "273b4a3829d447ed",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "main",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "2a65702819994012"
            ]
        ]
    },
    {
        "id": "4731039f2e9ee849",
        "type": "comment",
        "z": "d131706f99a3b080",
        "name": "Tables description",
        "info": "Tables:\n- Irrigation - active integer, fromtime integer, totime integer, every integer, duration integer, oneshoot integer.  ",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "a76d28be768bf6fd",
        "type": "inject",
        "z": "d131706f99a3b080",
        "name": "CREATE TABLE irrigation",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE IF NOT EXISTS irrigation (id INTEGER PRIMARY KEY, active INTEGER NOT NULL, fromtime INTEGER, totime INTEGER, every INTEGER, duration INTEGER, oneshoot INTEGER)",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "6d1fd696c4bf8db1"
            ]
        ]
    },
    {
        "id": "8ba8fcbcc89d2716",
        "type": "inject",
        "z": "d131706f99a3b080",
        "name": "drop table",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE irrigation",
        "x": 480,
        "y": 100,
        "wires": [
            [
                "6d1fd696c4bf8db1"
            ]
        ]
    },
    {
        "id": "2a65702819994012",
        "type": "debug",
        "z": "d131706f99a3b080",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "318caacaa77f998d",
        "type": "ui_chart",
        "z": "473af4e9135bb6f3",
        "name": "",
        "group": "5e17e0da459b8444",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "075a1b22708c87eb",
        "type": "ui_chart",
        "z": "473af4e9135bb6f3",
        "name": "",
        "group": "76b62dcf392e0c7d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "44ad992ef7e50aa6",
        "type": "ui_timelines_chart",
        "z": "473af4e9135bb6f3",
        "group": "f83273088eb193ee",
        "name": "",
        "order": 2,
        "label": "Schedule summary",
        "width": "0",
        "height": "0",
        "lineColors": [
            {
                "statusColor": "#002aff",
                "statusValue": "Irrigation"
            },
            {
                "statusColor": "#001eff",
                "statusValue": "Irrigation"
            }
        ],
        "xTickFormat": "HH:mm",
        "startDateTime": "2021-01-01T00:00",
        "endDateTime": "2021-01-01T23:59",
        "maxLineHeight": "20",
        "xAxisLabelsFontSize": "14",
        "xAxisLabelslColor": "#000000",
        "yAxisLabelsFontSize": "16",
        "yAxisLabelslColor": "#000000",
        "resetZoomLabelFontSize": 24,
        "resetZoomLabelColor": "#000000",
        "enableAnimations": true,
        "enableDateMarker": true,
        "forwardInputMessages": false,
        "x": 440,
        "y": 180,
        "wires": [
            [
                "2f40eb1e65f95f8f"
            ]
        ]
    },
    {
        "id": "a0c1de3745bd1f68",
        "type": "inject",
        "z": "473af4e9135bb6f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "a49933558f887776"
            ]
        ]
    },
    {
        "id": "a49933558f887776",
        "type": "function",
        "z": "473af4e9135bb6f3",
        "name": "",
        "func": "msg.payload = {\n    \"dataItems\": [\n        {\n            \"group\": \"Irrigation\",\n            \"data\": [\n                {\n                    \"label\": \"Radiation\",\n                    \"data\": [\n                        {\n                            \"timeRange\": [\"2021-01-01 01:00:00\", \"2021-01-01 10:00:00\"],\n                                \"val\": \"220 joule, 30 sec\"\n                        }\n                    ]\n                },\n                {\n                    \"label\": \"Time\",\n                    \"data\": [\n                        {\n                            \"timeRange\": [\"2021-01-01 10:00:00\", \"2021-01-01 10:10:00\"],\n                            \"val\": \"50 sec\"\n                        }\n                    ]\n                },\n            ]    \n        }\n    ]    \n}\n        \n                    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 160,
        "wires": [
            [
                "44ad992ef7e50aa6",
                "2f40eb1e65f95f8f"
            ]
        ]
    },
    {
        "id": "2f40eb1e65f95f8f",
        "type": "debug",
        "z": "473af4e9135bb6f3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "be7cbfc514e81423",
        "type": "comment",
        "z": "9cfee97fb9e96644",
        "name": "Irrigation schedule dashboard",
        "info": "",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "f8e099d3825a6ece",
        "type": "ui_table",
        "z": "9cfee97fb9e96644",
        "group": "fa9ccf2e0cfb5c02",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [
            {
                "field": "id",
                "title": "ID",
                "width": "80",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "active",
                "title": "Active",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fromtime",
                "title": "From",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "totime",
                "title": "To",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "every",
                "title": "Every minutes",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "duration",
                "title": "Duration",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "oneshoot",
                "title": "One shoot",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 990,
        "y": 300,
        "wires": [
            [
                "4258efc5d0dbfd62"
            ]
        ]
    },
    {
        "id": "5d4434152352be75",
        "type": "sqlite",
        "z": "9cfee97fb9e96644",
        "mydb": "273b4a3829d447ed",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 560,
        "y": 300,
        "wires": [
            [
                "a7ae236536372f97"
            ]
        ]
    },
    {
        "id": "09cf0f0ca103e47e",
        "type": "ui_ui_control",
        "z": "9cfee97fb9e96644",
        "name": "load irrigation notify",
        "events": "change",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "d69ce2da8441ec24"
            ]
        ]
    },
    {
        "id": "d69ce2da8441ec24",
        "type": "function",
        "z": "9cfee97fb9e96644",
        "name": "sqlite query",
        "func": "if (msg.payload === \"change\" && msg.name === \"Irrigation\") {\n    flow.set(\"programming.id\", undefined);\n    var msgout = {\"topic\" : \"\"}\n    msgout.topic = \"SELECT id, active, fromtime, totime, every, duration, oneshoot FROM irrigation ORDER BY fromtime;\";\n    node.send(msgout);\n}\nreturn;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 300,
        "wires": [
            [
                "5d4434152352be75",
                "9b96e90fe4a26a8a"
            ]
        ]
    },
    {
        "id": "0ec6e2279f40fc7b",
        "type": "ui_switch",
        "z": "9cfee97fb9e96644",
        "name": "",
        "label": "Active",
        "tooltip": "Enable or disable this programming row",
        "group": "fa9ccf2e0cfb5c02",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1870,
        "y": 340,
        "wires": [
            [
                "fc57f377ec280935"
            ]
        ]
    },
    {
        "id": "1ac85274d91d1f6b",
        "type": "ui_text_input",
        "z": "9cfee97fb9e96644",
        "name": "",
        "label": "From",
        "tooltip": "Start time of programming",
        "group": "fa9ccf2e0cfb5c02",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1870,
        "y": 380,
        "wires": [
            [
                "abbba47230890ecb",
                "385cca24c67f92ee"
            ]
        ]
    },
    {
        "id": "8be6109a5cbe938b",
        "type": "ui_text_input",
        "z": "9cfee97fb9e96644",
        "name": "",
        "label": "To",
        "tooltip": "End time of programming",
        "group": "fa9ccf2e0cfb5c02",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1870,
        "y": 420,
        "wires": [
            [
                "81761520c7dc5aef",
                "385cca24c67f92ee"
            ]
        ]
    },
    {
        "id": "35b1cb8d9c5604fd",
        "type": "ui_text_input",
        "z": "9cfee97fb9e96644",
        "name": "",
        "label": "Every",
        "tooltip": "Run irrigation every (minutes)",
        "group": "fa9ccf2e0cfb5c02",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1870,
        "y": 460,
        "wires": [
            [
                "9f7002438e1ab4ea"
            ]
        ]
    },
    {
        "id": "77490e9a5b6a8097",
        "type": "ui_text_input",
        "z": "9cfee97fb9e96644",
        "name": "",
        "label": "Duration",
        "tooltip": "Duration of irrigation (seconds)",
        "group": "fa9ccf2e0cfb5c02",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1780,
        "y": 620,
        "wires": [
            [
                "16869e0b8315f42c"
            ]
        ]
    },
    {
        "id": "3051c6860a0e394c",
        "type": "ui_switch",
        "z": "9cfee97fb9e96644",
        "name": "",
        "label": "One Shoot",
        "tooltip": "Run irrigation once (disable the Every field and the To field)",
        "group": "fa9ccf2e0cfb5c02",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1790,
        "y": 580,
        "wires": [
            [
                "1f65ef9f4a1665a6",
                "37a971ed9a826349"
            ]
        ]
    },
    {
        "id": "aff7013e00bc8f63",
        "type": "ui_button",
        "z": "9cfee97fb9e96644",
        "name": "",
        "group": "fa9ccf2e0cfb5c02",
        "order": 8,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Edit",
        "tooltip": "Edit the selected schedule",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "edit",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "b2727c05738a4afa"
            ]
        ]
    },
    {
        "id": "ddde992c6bf0e4ba",
        "type": "ui_button",
        "z": "9cfee97fb9e96644",
        "name": "",
        "group": "fa9ccf2e0cfb5c02",
        "order": 9,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "New",
        "tooltip": "Add a schedule",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "new",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 200,
        "wires": [
            [
                "b2727c05738a4afa"
            ]
        ]
    },
    {
        "id": "71206f6b9df1f514",
        "type": "change",
        "z": "9cfee97fb9e96644",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.active",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 340,
        "wires": [
            [
                "0ec6e2279f40fc7b"
            ]
        ]
    },
    {
        "id": "fc57f377ec280935",
        "type": "change",
        "z": "9cfee97fb9e96644",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "programming.active",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2100,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "abbba47230890ecb",
        "type": "change",
        "z": "9cfee97fb9e96644",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "programming.fromtime",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2110,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "81761520c7dc5aef",
        "type": "change",
        "z": "9cfee97fb9e96644",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "programming.totime",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2100,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "9f7002438e1ab4ea",
        "type": "change",
        "z": "9cfee97fb9e96644",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "programming.every",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2100,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "16869e0b8315f42c",
        "type": "change",
        "z": "9cfee97fb9e96644",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "programming.duration",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "1f65ef9f4a1665a6",
        "type": "change",
        "z": "9cfee97fb9e96644",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "programming.oneshoot",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2030,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "dcf96c4280814575",
        "type": "change",
        "z": "9cfee97fb9e96644",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "programming.id",
                "pt": "flow",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ec1ebd7a220d51b4",
        "type": "change",
        "z": "9cfee97fb9e96644",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.fromtime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 380,
        "wires": [
            [
                "1ac85274d91d1f6b"
            ]
        ]
    },
    {
        "id": "5bfb44d232689676",
        "type": "change",
        "z": "9cfee97fb9e96644",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.totime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 420,
        "wires": [
            [
                "8be6109a5cbe938b"
            ]
        ]
    },
    {
        "id": "82b221ac92059b34",
        "type": "change",
        "z": "9cfee97fb9e96644",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.every",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 460,
        "wires": [
            [
                "35b1cb8d9c5604fd"
            ]
        ]
    },
    {
        "id": "b4efc86f44c4e2da",
        "type": "change",
        "z": "9cfee97fb9e96644",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.duration",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 620,
        "wires": [
            [
                "77490e9a5b6a8097"
            ]
        ]
    },
    {
        "id": "3e27331e70384ee0",
        "type": "change",
        "z": "9cfee97fb9e96644",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.oneshoot",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 580,
        "wires": [
            [
                "3051c6860a0e394c"
            ]
        ]
    },
    {
        "id": "b2727c05738a4afa",
        "type": "function",
        "z": "9cfee97fb9e96644",
        "name": "sqlite query",
        "func": "if (msg.payload === \"edit\" && flow.get(\"programming.id\") != undefined){\n    msg.topic = \"UPDATE irrigation SET active = \" + flow.get(\"programming.active\") + \", fromtime = \" + flow.get(\"programming.fromtime\") + \", totime = \" + flow.get(\"programming.totime\") + \", every = \" + flow.get(\"programming.every\") + \", duration = \" + flow.get(\"programming.duration\") + \", oneshoot = \" + flow.get(\"programming.oneshoot\") + \" WHERE id = \" + flow.get(\"programming.id\") + \";\";\n    node.send(msg);\n    msg.topic = \"SELECT id, active, fromtime, totime, every, duration, oneshoot FROM irrigation ORDER BY fromtime;\";\n    node.send(msg);\n}\nif (msg.payload === \"new\") {\n    msg.topic = \"INSERT INTO irrigation(id, active, fromtime, totime, every, duration, oneshoot) VALUES (NULL, \" + flow.get(\"programming.active\") + \", \" + flow.get(\"programming.fromtime\") + \", \" + flow.get(\"programming.totime\") + \", \" + flow.get(\"programming.every\") + \", \" + flow.get(\"programming.duration\") + \", \" + flow.get(\"programming.oneshoot\") + \");\";\n    node.send(msg);\n    msg.topic = \"SELECT id, active, fromtime, totime, every, duration, oneshoot FROM irrigation ORDER BY fromtime;\";\n    node.send(msg);\n}\nif (msg.payload === \"delete\" && flow.get(\"programming.id\") != undefined) {\n    msg.topic = \"DELETE FROM irrigation WHERE id = \" + flow.get(\"programming.id\") + \";\";\n    node.send(msg);\n    msg.topic = \"SELECT id, active, fromtime, totime, every, duration, oneshoot FROM irrigation ORDER BY fromtime;\";\n    node.send(msg);\n}\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "5d4434152352be75"
            ]
        ]
    },
    {
        "id": "9e3cc02ba788f699",
        "type": "comment",
        "z": "9cfee97fb9e96644",
        "name": "to do",
        "info": "controllare che i reset dei campi di input non facciano casino in giro\nfai logica\nvedi se fare una tabella con i log delle irrigazioni\nfai irr manuali",
        "x": 310,
        "y": 540,
        "wires": []
    },
    {
        "id": "35245eb2fa31ffbd",
        "type": "ui_button",
        "z": "9cfee97fb9e96644",
        "name": "",
        "group": "fa9ccf2e0cfb5c02",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Delete",
        "tooltip": "Remove the selected schedule",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "delete",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 240,
        "wires": [
            [
                "b2727c05738a4afa"
            ]
        ]
    },
    {
        "id": "9b96e90fe4a26a8a",
        "type": "change",
        "z": "9cfee97fb9e96644",
        "name": "reset at loading page",
        "rules": [
            {
                "t": "set",
                "p": "payload.active",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.fromtime",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.totime",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.every",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.duration",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.oneshoot",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 460,
        "wires": [
            [
                "71206f6b9df1f514",
                "ec1ebd7a220d51b4",
                "5bfb44d232689676",
                "82b221ac92059b34",
                "b4efc86f44c4e2da",
                "3e27331e70384ee0"
            ]
        ]
    },
    {
        "id": "f5b7956e546e6e1f",
        "type": "comment",
        "z": "9cfee97fb9e96644",
        "name": "Irrigation schedule logic",
        "info": "",
        "x": 300,
        "y": 680,
        "wires": []
    },
    {
        "id": "37a971ed9a826349",
        "type": "function",
        "z": "9cfee97fb9e96644",
        "name": "",
        "func": "if (msg.payload === 1){\n    msg.payload = null;\n    msg.enabled = false;\n    node.send(msg);\n}\nif (msg.payload === 0) {\n    msg.payload = undefined;\n    msg.enabled = true;\n    node.send(msg);\n}\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 520,
        "wires": [
            [
                "8be6109a5cbe938b",
                "35b1cb8d9c5604fd"
            ]
        ]
    },
    {
        "id": "a7ae236536372f97",
        "type": "function",
        "z": "9cfee97fb9e96644",
        "name": "epoch to time",
        "func": "for (let i = 0; i < msg.payload.length; i++) {\n    msg.payload[i].fromtime = moment(msg.payload[0].fromtime).utc().format(\"hh:mm\");\n    msg.payload[i].totime = moment(msg.payload[0].totime).utc().format(\"hh:mm\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "moment",
                "module": "moment"
            }
        ],
        "x": 820,
        "y": 300,
        "wires": [
            [
                "f8e099d3825a6ece"
            ]
        ]
    },
    {
        "id": "385cca24c67f92ee",
        "type": "debug",
        "z": "9cfee97fb9e96644",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2120,
        "y": 180,
        "wires": []
    },
    {
        "id": "4258efc5d0dbfd62",
        "type": "function",
        "z": "9cfee97fb9e96644",
        "name": "time to epoch",
        "func": "msg.payload.fromtime = parseInt(moment(\"01/01/1970 \" + msg.payload.fromtime, \"DD/MM/YYYY hh:mm\").add(1, 'hours').format(\"x\"));\nmsg.payload.totime = parseInt(moment(\"01/01/1970 \" + msg.payload.totime, \"DD/MM/YYYY hh:mm\").add(1, 'hours').format(\"x\"));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "moment",
                "module": "moment"
            }
        ],
        "x": 1160,
        "y": 300,
        "wires": [
            [
                "dcf96c4280814575",
                "71206f6b9df1f514",
                "ec1ebd7a220d51b4",
                "5bfb44d232689676",
                "82b221ac92059b34",
                "3e27331e70384ee0",
                "b4efc86f44c4e2da"
            ]
        ]
    }
]