opengreenhouse.json
[
    {
        "id": "e6c3f6274bea11d7",
        "type": "tab",
        "label": "Logic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d131706f99a3b080",
        "type": "tab",
        "label": "Database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "473af4e9135bb6f3",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9cfee97fb9e96644",
        "type": "tab",
        "label": "Irrigation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c1ad51cd7c1f6f30",
        "type": "tab",
        "label": "Climate",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6e05f7e6b67e985d",
        "type": "tab",
        "label": "Artificial light",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "374517790ad73be7",
        "type": "tab",
        "label": "Heating",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3093b5dc65ba7357",
        "type": "tab",
        "label": "Settings",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "30310abcb724f80d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#001eff",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#00ff40",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#001eff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#001eff",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#4d61ff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#001eff",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6691e9ed50dfc4a2",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f83273088eb193ee",
        "type": "ui_group",
        "name": "Programming",
        "tab": "6691e9ed50dfc4a2",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "273b4a3829d447ed",
        "type": "sqlitedb",
        "db": "/home/pi/opengreenhouse/main.db",
        "mode": "RWC"
    },
    {
        "id": "5e17e0da459b8444",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "6691e9ed50dfc4a2",
        "order": 2,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "76b62dcf392e0c7d",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "6691e9ed50dfc4a2",
        "order": 3,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9196ab76e307349",
        "type": "ui_tab",
        "name": "Irrigation",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fa9ccf2e0cfb5c02",
        "type": "ui_group",
        "name": "Programming",
        "tab": "c9196ab76e307349",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": true,
        "className": ""
    },
    {
        "id": "6d1fd696c4bf8db1",
        "type": "sqlite",
        "z": "d131706f99a3b080",
        "mydb": "273b4a3829d447ed",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "main",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "2a65702819994012"
            ]
        ]
    },
    {
        "id": "4731039f2e9ee849",
        "type": "comment",
        "z": "d131706f99a3b080",
        "name": "Tables description",
        "info": "Tables:\n- Irrigation - active integer, fromtime integer, totime integer, every integer, duration integer, oneshoot integer.  ",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "a76d28be768bf6fd",
        "type": "inject",
        "z": "d131706f99a3b080",
        "name": "CREATE TABLE irrigation",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE IF NOT EXISTS irrigation (id INTEGER PRIMARY KEY, active INTEGER NOT NULL, fromtime INTEGER, totime INTEGER, every INTEGER, duration INTEGER, oneshoot INTEGER)",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "6d1fd696c4bf8db1"
            ]
        ]
    },
    {
        "id": "8ba8fcbcc89d2716",
        "type": "inject",
        "z": "d131706f99a3b080",
        "name": "drop table",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE irrigation",
        "x": 440,
        "y": 100,
        "wires": [
            [
                "6d1fd696c4bf8db1"
            ]
        ]
    },
    {
        "id": "2a65702819994012",
        "type": "debug",
        "z": "d131706f99a3b080",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "318caacaa77f998d",
        "type": "ui_chart",
        "z": "473af4e9135bb6f3",
        "name": "",
        "group": "5e17e0da459b8444",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "075a1b22708c87eb",
        "type": "ui_chart",
        "z": "473af4e9135bb6f3",
        "name": "",
        "group": "76b62dcf392e0c7d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "44ad992ef7e50aa6",
        "type": "ui_timelines_chart",
        "z": "473af4e9135bb6f3",
        "group": "f83273088eb193ee",
        "name": "",
        "order": 2,
        "label": "Programming",
        "width": "0",
        "height": "0",
        "lineColors": [
            {
                "statusColor": "#002aff",
                "statusValue": "Irrigation"
            },
            {
                "statusColor": "#001eff",
                "statusValue": "Irrigation"
            }
        ],
        "xTickFormat": "HH:mm",
        "startDateTime": "2021-01-01T00:00",
        "endDateTime": "2021-01-01T23:59",
        "maxLineHeight": "20",
        "xAxisLabelsFontSize": "14",
        "xAxisLabelslColor": "#000000",
        "yAxisLabelsFontSize": "16",
        "yAxisLabelslColor": "#000000",
        "resetZoomLabelFontSize": 24,
        "resetZoomLabelColor": "#000000",
        "enableAnimations": true,
        "enableDateMarker": true,
        "forwardInputMessages": false,
        "x": 440,
        "y": 180,
        "wires": [
            [
                "2f40eb1e65f95f8f"
            ]
        ]
    },
    {
        "id": "a0c1de3745bd1f68",
        "type": "inject",
        "z": "473af4e9135bb6f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "a49933558f887776"
            ]
        ]
    },
    {
        "id": "a49933558f887776",
        "type": "function",
        "z": "473af4e9135bb6f3",
        "name": "",
        "func": "msg.payload = {\n    \"dataItems\": [\n        {\n            \"group\": \"Irrigation\",\n            \"data\": [\n                {\n                    \"label\": \"Radiation\",\n                    \"data\": [\n                        {\n                            \"timeRange\": [\"2021-01-01 01:00:00\", \"2021-01-01 10:00:00\"],\n                                \"val\": \"220 joule, 30 sec\"\n                        }\n                    ]\n                },\n                {\n                    \"label\": \"Time\",\n                    \"data\": [\n                        {\n                            \"timeRange\": [\"2021-01-01 10:00:00\", \"2021-01-01 10:10:00\"],\n                            \"val\": \"50 sec\"\n                        }\n                    ]\n                },\n            ]    \n        }\n    ]    \n}\n        \n                    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 160,
        "wires": [
            [
                "44ad992ef7e50aa6",
                "2f40eb1e65f95f8f"
            ]
        ]
    },
    {
        "id": "2f40eb1e65f95f8f",
        "type": "debug",
        "z": "473af4e9135bb6f3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "be7cbfc514e81423",
        "type": "comment",
        "z": "9cfee97fb9e96644",
        "name": "Programming",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "f8e099d3825a6ece",
        "type": "ui_table",
        "z": "9cfee97fb9e96644",
        "group": "fa9ccf2e0cfb5c02",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "columns": [
            {
                "field": "id",
                "title": "ID",
                "width": "80",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "active",
                "title": "Active",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fromtime",
                "title": "From",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "totime",
                "title": "To",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "every",
                "title": "Every minutes",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "duration",
                "title": "Duration",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "oneshoot",
                "title": "One shoot",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 710,
        "y": 160,
        "wires": [
            [
                "d64fc7f15e9287b3"
            ]
        ]
    },
    {
        "id": "5d4434152352be75",
        "type": "sqlite",
        "z": "9cfee97fb9e96644",
        "mydb": "273b4a3829d447ed",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "f8e099d3825a6ece",
                "d64fc7f15e9287b3"
            ]
        ]
    },
    {
        "id": "09cf0f0ca103e47e",
        "type": "ui_ui_control",
        "z": "9cfee97fb9e96644",
        "name": "",
        "events": "all",
        "x": 80,
        "y": 160,
        "wires": [
            [
                "d69ce2da8441ec24"
            ]
        ]
    },
    {
        "id": "d69ce2da8441ec24",
        "type": "function",
        "z": "9cfee97fb9e96644",
        "name": "",
        "func": "if (msg.payload === \"change\" && msg.name === \"Irrigation\") {\n    var msgout = {\"topic\" : \"\"}\n    msgout.topic = \"SELECT id, active, fromtime, totime, every, duration, oneshoot FROM irrigation ORDER BY fromtime\";\n    node.send(msgout);\n}\nreturn;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 160,
        "wires": [
            [
                "5d4434152352be75"
            ]
        ]
    },
    {
        "id": "d64fc7f15e9287b3",
        "type": "debug",
        "z": "9cfee97fb9e96644",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 280,
        "wires": []
    }
]