opengreenhouse.json
[
    {
        "id": "e6c3f6274bea11d7",
        "type": "tab",
        "label": "Logic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d131706f99a3b080",
        "type": "tab",
        "label": "Database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "473af4e9135bb6f3",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9cfee97fb9e96644",
        "type": "tab",
        "label": "Irrigation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c1ad51cd7c1f6f30",
        "type": "tab",
        "label": "Climate",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6e05f7e6b67e985d",
        "type": "tab",
        "label": "Artificial light",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "374517790ad73be7",
        "type": "tab",
        "label": "Heating",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3093b5dc65ba7357",
        "type": "tab",
        "label": "Settings",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "30310abcb724f80d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6691e9ed50dfc4a2",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f83273088eb193ee",
        "type": "ui_group",
        "name": "Programming",
        "tab": "6691e9ed50dfc4a2",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "273b4a3829d447ed",
        "type": "sqlitedb",
        "db": "/home/pi/opengreenhouse/main.db",
        "mode": "RWC"
    },
    {
        "id": "5e17e0da459b8444",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "6691e9ed50dfc4a2",
        "order": 2,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "76b62dcf392e0c7d",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "6691e9ed50dfc4a2",
        "order": 3,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6d1fd696c4bf8db1",
        "type": "sqlite",
        "z": "d131706f99a3b080",
        "mydb": "273b4a3829d447ed",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "main",
        "x": 380,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "318caacaa77f998d",
        "type": "ui_chart",
        "z": "473af4e9135bb6f3",
        "name": "",
        "group": "5e17e0da459b8444",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "075a1b22708c87eb",
        "type": "ui_chart",
        "z": "473af4e9135bb6f3",
        "name": "",
        "group": "76b62dcf392e0c7d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "44ad992ef7e50aa6",
        "type": "ui_timelines_chart",
        "z": "473af4e9135bb6f3",
        "group": "f83273088eb193ee",
        "name": "",
        "order": 2,
        "label": "Programming",
        "width": "0",
        "height": "0",
        "lineColors": [
            {
                "statusColor": "#002aff",
                "statusValue": "Irrigation"
            }
        ],
        "xTickFormat": "HH:mm",
        "startDateTime": "2021-01-01T00:00",
        "endDateTime": "2021-01-01T23:59",
        "maxLineHeight": "20",
        "xAxisLabelsFontSize": 16,
        "xAxisLabelslColor": "#000000",
        "yAxisLabelsFontSize": 16,
        "yAxisLabelslColor": "#000000",
        "resetZoomLabelFontSize": 24,
        "resetZoomLabelColor": "#000000",
        "enableAnimations": true,
        "enableDateMarker": true,
        "forwardInputMessages": false,
        "x": 440,
        "y": 180,
        "wires": [
            [
                "2f40eb1e65f95f8f"
            ]
        ]
    },
    {
        "id": "a0c1de3745bd1f68",
        "type": "inject",
        "z": "473af4e9135bb6f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "a49933558f887776"
            ]
        ]
    },
    {
        "id": "a49933558f887776",
        "type": "function",
        "z": "473af4e9135bb6f3",
        "name": "",
        "func": "msg.payload = {\n    \"dataItems\": [\n        {\n            \"group\": \"Irrigation\",\n            \"data\": [\n                {\n                    \"label\": \"Radiation\",\n                    \"data\": [\n                        {\n                            \"timeRange\": [\"2021-01-01 01:00:00\", \"2021-01-01 10:00:00\"],\n                                \"val\": \"220 joule\"\n                        }\n                    ]\n                }\n            ]    \n        }\n    ]    \n}\n        \n                    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 160,
        "wires": [
            [
                "44ad992ef7e50aa6",
                "2f40eb1e65f95f8f"
            ]
        ]
    },
    {
        "id": "2f40eb1e65f95f8f",
        "type": "debug",
        "z": "473af4e9135bb6f3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 120,
        "wires": []
    }
]